

.basic  {
	width: 547px;
	font-family: verdana;
	padding-left:10px;
	padding-top:5px;
	}

.basic div_faq {
	background-color: #000;
}

.basic p {
	margin-bottom : 10px;
	border: none;
	height:31px;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	margin: 0px;
	padding: 10px;
}
.basic a {
	cursor:pointer;
	display:block;
	padding:5px;
	margin-top: 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	color: black;
	border-bottom: 1px solid #ccc;
}

.main_faq_accor
{ 
width:680px;
  height:auto;
  color:#000;
  font-size: 10px;
  font-family:Verdana,Arial,Helvetica,sans-serif;
}
.basic a:hover {
	color:#F79E4D;
}
.basic a.selected {
	color: black;
	background-color: #7ca6b0;
	color:#FFFFFF;
	background-image: url("AccordionTab2.gif");
}
.basic_txt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	padding:10px;
	margin:0px;
}

.basic_txt_answer {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	margin:0px;
	width:650px;
	padding:10px 0px 10px 10px;
}


.basic_faq a:hover {
	background-color: #7ca6b0;
	background-image: url("AccordionTab2.gif");
}


#list2 {
	height: 178px;
	border: 1px solid #eee;
	overflow: hidden;
}
#list2 .red {
	color: red;
	background-color: red;
}
#list2 .green {
	color: green;
	background-color: green;
}
#list2 .blue {
	color: blue;
	background-color: blue;
}
#list2 dd { height: 130px; overflow: hidden; }

#list3 { border: 1px solid #111; }
#list3 div.selected .title { font-weight: bold; }
#list3 div div {
	border-left:8px solid #6699CC;
	padding: 5px;
}
#list3 div.title {
	border: 1px solid #3366AA;
	background-color: #6699CC;
	padding: 10px;
	cursor: pointer;
}
#list3 div.selected {
	border-bottom: none;
}

#navigation {
	border:1px solid #5263AB;
	margin:0px;
	padding:0px;
	text-indent:0px;
	background-color:#E2E2E2;
	width:200px;
}
#navigation a.head {
	cursor:pointer;
	border:1px solid #CCCCCC;
	background:#5263AB url(collapsed.gif) no-repeat scroll 3px 4px;
	color:#FFFFFF;
	display:block;
	font-weight:bold;
	margin:0px;
	padding:0px;
	text-indent:14px;
	text-decoration: none;
}
#navigation a.head:hover {
	color:#FFFF99;
}
#navigation a.selected {
	background-image: url(expanded.gif);
}
#navigation a.current {
	background-color:#FFFF99;
}
#navigation ul {
	border-width:0px;
	margin:0px;
	padding:0px;
	text-indent:0px;
}
#navigation li {
	list-style:none outside none; display:inline;
}
#navigation li li a {
	color:#000000;
	display:block;
	text-indent:10px;
	text-decoration: none;
}
#navigation li li a:hover {
	background-color:#FFFF99;
	color:#FF0000;
}

#wizard {
	width: 200px;
	border: 1px solid black;
}
#wizard .title {
	background-color:#DDDDDD;
}

@media print {
	.basic div, #navigation ul, #list2 dd, #list3 div{
		display: block!important;
		height: auto!important
	}
}