/* CSS Document */
.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}
.ds_tbl {
	background-color: #FFF;
}

.ds_head {
	background-color: #333;
	color: #FFF;
	font-family:Tahoma;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #CCC;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	font-family:Tahoma;
	width: 10px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 11px;
	text-align: center;
	font-family:Tahoma;
	padding: 2px;
	cursor: pointer;
}

.ds_cell:hover {
	background-color: #F3F3F3;
} /* This hover code won't work for IE */
.searchalu 
{
padding-left:10px;
padding-top:5px;
 
}
